<?php
$user = $this->getId();
?>

<table>
    <tr>
        <td>
            id
        </td>
        <td>
            <?php echo $user['id'] ?>
        </td>
    </tr>
    <tr>
        <td>
            name
        </td>
        <td>
            <?php echo $user['name'] ?>
        </td>
    </tr>
    <tr>
        <td>
            avatar
        </td>
        <td>
            <?php echo $user['avatar'] ?>
        </td>
    </tr>
    <tr>
        <td>
            date of birth
        </td>
        <td>
            <?php echo $user['dob'] ?>
        </td>
    </tr>
    <tr>
        <td>description</td>
        <td>
            <?php echo $user['description'] ?>
        </td>
    </tr>
</table>
