<form action="/m0001/internship/index/save">
   name: <input name="name" type="text">
    avatar: <input name="avatar" type="text">
   age: <input name="age" type="text">
   dob: <input type="text" name="dob">
   description: <input type="text" name="description">
    <button type="submit">add</button>
</form>
